# Environment
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.venv/
env/
*.egg-info/
.eggs/
dist/
build/
*.egg

# Django
media/
logs/
staticfiles/
db.sqlite3

# Testing
.coverage
htmlcov/
.pytest_cache/
.tox/

# Node
node_modules/
dist/
*.local
*.tsbuildinfo

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Docker
*.log
